body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width:300px;
}

#display {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 200px;
}

.calculatorContainer {
    background-color: ivory;
    border-radius: 20px;
    width: 250px;
    height: 360px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    padding-top: 5px;
    justify-content: space-around;
}

button {
    width: 50px;
    color: white;
    background-color: grey;
    border-radius: 5px;
    outline: none;
    height: 40px;
}
.footer{
    display: flex;
    font-size: 10px;
    padding: 15px 5px;
    flex-shrink: 0;
    justify-content: center;
}
.footer h1{
    color: white;
    font-weight: 300;
}
.numKey {

}
